body{
    margin:0;
    padding:0;
}

span{
    color:white;
    margin-right: 10vw;
    /* width:10%; will not work for inline element*/
}

.navBar{
    height:7vh;
    padding-top: 10px;
    padding-left: 5px;
    background-color: black;
}

.brandName{
    font-weight: bold;
    font-size: 25px;
    color:coral;
}

button{
    background-color:coral ;
}